{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="es"{% endblock %}
{% block title %}WaterCloud{% endblock %}
{% block head%}
{{super()}}
 <meta charset="UTF-8"> 
{% endblock%}
{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Water Cloud</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
	<li id="liPerfil"> <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myPerfil" id="perfilBtn">Perfil</button>
	
        <li id="liMensajes"><button type="button" class="btn btn-link" id="messages">Dispositivos</button></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
	<li id="liLogin"> <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myLogin">Ingresar</button>
	<li id="liLogout"><button type="button" class="btn btn-link" id="logout">Salir</button></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}
